<div class="page-padding">
  <div class="block block-link" data-link="true" data-href="templates/brochure.html" data-name="Brochure">
    <div class="block-link-img">
      <img src="img/brochure.png">
    </div>
    <div class="block-link-text">
      Bekijk onze brochure
      <div class="block-link-text-icon">
        >
      </div>
    </div>
  </div>
  <div class="block block-link" data-link="true" data-href="templates/contact.html" data-name="Contact">
    <div class="block-link-img">
      <img src="img/contact.png">
    </div>
    <div class="block-link-text">
      Neem contact met ons op
      <div class="block-link-text-icon">
        >
      </div>
    </div>
  </div>
</div>
<script src="js/home.js"></script>
